<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Scriptomania|Home </title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
       <link rel="stylesheet" href="./css/home.css">

  
</head>

<body>
<div>
<h1 class = "hero1">Scriptomania <img src="./img/scripto.png" alt="Logo" width="80" height="80"></img>
</h1><br>
<h3 class="newhero">WHERE DREAMS COME TRUE</h3>
</div>
<div>
<h2 class="welcome">Dedicated to Develop Media Industry</h2>
<p class = "hero">In <b>Pakistan</b>, the film industry is in its development stage and lacks a platform to link script writers to the film industry. Our web app plays essential role in the development of our film industry by letting people who are passionate about writing, showcase their talent to famous producers of Pakistan’s film industry. It will increase the employment opportunities in digital sector of our country. Moreover, the producers can find some quality work without the headache of meeting script writers personally which will save their valuable time.
</p>
</div>

<div class="mydiv">

      <button class="btn"><a class="insidebutton", href="/users/login">Login</a></button></div>

<div class="mydiv">
  <button class="btn1"><a class="insidebutton", href="/users/signup">Register Now</a></button>

</div>
  
<section class="row">
  <div class="grid">
    <!-- <h2>WRITERS</h2> -->
    
    
    <div class="grid-item1">
      <h2 class="info">WRITERS</h2>
      <p class="paragraph">Over 1000+ phenominal writers</p>
      
    </div>
    <!-- <h2>WRITERS</h2> -->
   
  
    <div class="grid-item2">
      <h2 class="info">PRODUCERS</h2>
       <p class="paragraph">Over 500+ Producers from all over Pakistan.</p>
    </div>
    <!-- <h2>WRITERS</h2> -->
  
    
    <div class="grid-item3">
       <h2 class="info">CONTACT</h2>
       <p class="paragraph">phone: +923366597237<br>email: help@scriptomania.com<br>address: 5400, LUMS, Lahore, PK.</p>
    </div>

  </div>
</section>


</body>
<footer class="footer">©2019 Scriptomania, Inc.</footer>

</html>
