* {
  box-sizing: border-box;
}

body {
  font: 300 16px/22px "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  text-align: center;
}

.shower{
  color: #888
  /*padding botto*/
}
.showpass{
  float: left;
  /*font-style: italic;*/
  padding-bottom: 20px
  /*padding-top:10px*/
}
.login-form-wrap {
  background: white;
  border: 1px solid #2d416d;
  box-shadow: 0 1px #5670A4 inset, 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 600px;
  height: 440px;
  margin: 60px auto;
  padding: 50px 30px 0 30px;
  text-align: center;
}
.login-form-wrap h1 {
  margin: 0 0 50px 0;
  padding: 0;
  font-size: 2vw;
  color: #888;
}
.login-form-wrap h5 {
  margin-top: 40px;
}


.login-form input[type="email"], .login-form input[type="password"] {
  width: 100%;
  border: 1px solid #314d89;
  outline: none;
  padding: 12px 20px;
  color: #888;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}
.login-form input[type="email"] {
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  padding-bottom: 13px;
  box-shadow: 0 -1px 0 #E0E0E0 inset, 0 1px 2px rgba(0, 0, 0, 0.23) inset;
}
.login-form input[type="password"] {
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.23) inset, 0 1px 2px rgba(255, 255, 255, 0.1);
}
.login-form input[type="submit"] {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background: linear-gradient(to bottom, #e0e0e0 0%, #cecece 100%);
  display: block;
  margin: 20px auto 0 auto;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 8px;
  font-size: 17px;
  color: #636363;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
  font-weight: 700;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.17), 0 1px 0 rgba(255, 255, 255, 0.36) inset;
}
.login-form input[type="submit"]:hover {
  background: #DDD;
}
.login-form input[type="submit"]:active {
  padding-top: 9px;
  padding-bottom: 7px;
  background: #C9C9C9;
}
/*.sign_image{
  float: right;
}*/
.signup_form{
  text-align: left;
  /*color: #888;*/
  font-weight: 500;
  clear: both;

}
.signup_form input{
width: 100%;
vertical-align:right;
clear: both;
}
.Signup-form{
  background: white;
  border: 1px solid #2d416d;
  box-shadow: 0 1px #5670A4 inset, 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 600px;
  height: 850px;
  margin: 60px auto;
  padding: 10px 30px 10px 30px;
  text-align: center;
  /*color:#888;*/
}
.Signup-form h1 {
  margin: 0 0 50px 0;
  padding: 0;
  font-size: 2vw;
  color: #888;
}

a {
color: #888;
}
a:link {
color: #888;
}
a:visited {
color: #999999;
}
a:hover {
color: black;
}
.labell {
  display: block;
  padding-left: 15px;
  text-indent: 0px;
  padding: 5px 280px 0px 0px;
}
.inputt {
  width: 13px;
  height: 13px;
  /*padding: 100;*/
  /*margin:0;*/
  vertical-align: bottom;
  position: relative;
  top: 16px;
  *overflow: hidden;
}
.input1 {
  width: 13px;
  height: 13px;
  /*padding: 100;*/
  /*margin:0;*/
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: 190px;
  *overflow: hidden;
}