<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Scriptomania|login</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="./style.css">

  
</head>

<body>

  <section class="login-form-wrap">
  <div>
  <img src="/img/scripto.png" alt="Logo of Scriptomania" height="80" width="80">
    
  <h1>Log in to Scriptomania
  </h1>
  </div>
  <form class="login-form" action="POST" action="/users/login">
    <label>
      <input type="text" name="username" required placeholder="Username">
    </label>
    <label>
      <input type="password" name="password" required placeholder="Password">
    </label>
    <div class="showpass">
    <input type="checkbox" name="show_pass">

    <label class="shower">Show Password</label>
    </div>
    <br>
    <input type="submit" value="Login">
  </form>
  <h5><a href="#">Forgot password</a></h5>
  <h4 style="color: black"><a href="#">Don't have an account? Click here to register!</a></h4 >

</section>

  

</body>

</html>
