<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Scriptomania|signup</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="./style.css">

  
</head>

<body>
<section class="Signup-form">
  <div>
  <img class="sign_image" src="/img/scripto.png"" alt="Logo image" height="80" width="80">  
  <h1 style="color: white">Sign Up to Scriptomania</h1>
  </div>
<div class="signup_form">
  <form action="POST">
    <label>Name</label>
    <input type="text" name="Name" required placeholder="Name"><br><br>
    <label>Email</label>
    <input type="email" name="email" required placeholder="Email"><br><br>
    <label>Contact Number</label>
    <input type="integer" name="Contact" required placeholder="+92xxx-xxxxxxx"><br><br>
    <label>CNIC</label>
    <input type="text" name="CNIC" required placeholder="xxxxx-xxxxxxx-x"><br><br>
    <label>Date of Birth</label>
    <input type="Date" name="date" required><br><br>
    <label>Username</label>
    <input type="text" name="Usename" required placeholder="Username"><br><br>
    <label>Password</label>
    <input type="Password" name="Password" required placeholder="Password"><br><br>
    <label>Confirm password</label>
    <input type="Password" name="ConfirmPassword" required placeholder="Password"><br><br>
    <input type="radio" name="Writer">
    <label>Writer</label>
    <input type="radio" name="Producer">
    <label>Producer</label><br><br>
    <input type="checkbox" name="Agree">
    <label>I agree to the terms of use and privacy policy</label><br>
    <input type="Submit" value="signup">

  </form>
  </div>
  <br><br><br>
   <h4 style="color: black"><a href="login.html">ٓAlready have an account? Click here to login!</a></h4 >
</section>

  

</body>

</html>
